<section class="imagina">
  <div class="titulo">Imagina y diseña</div>
</section>
<section class="envianos">
  ajsdkhfja
</section>
<section class="recibe">
  hjklasdhf
</section>
<div class="space"></div>
